<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.9.ee"/>
    <stringAttribute key="mule-agent-port" value="60748"/>
    <stringAttribute key="mule-agent-token-auth" value="577eca24-f4bc-4f3d-9d2f-378a8e539abc"/>
    <listAttribute key="mule-project-names">
        <listEntry value="azure-github-demo"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="azure-github-demo"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication -M-Dmule.deployment.forceParseConfigXmls=true"/>
</launchConfiguration>
